.ProfileContainer{
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 10px;
	padding-top: 20px;
	width: 90%;
	color: #000;

	.totalAmountDisplay{
		display: flex;
		justify-content: space-between;
		background: hsl(0, 0%, 100%);
		padding: 8px 0px;

		h3{
			 	font-size: 17px;
			 	font-weight: bolder;
			 	color: hsl(243, 100%, 62%);
			 }
		p{
			 	font-size: 14px;
			 	font-weight: 900;
				color: hsl(229, 24%, 87%);
			 	padding: 0;
			 }		 
	}

	.ProfileHeading{
		display: flex;
		flex-direction: column;
		gap: 2px;
		h3{
		 	font-size: 27px;
		 	font-weight: 900;
		 	color: #000;
		 }
		 p{
		 	font-size: 15px;
		 	font-weight: 600;
			color: #afafb6;

		 }
	}
	.SummaryContainer{
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		width: 90%;
		background: hsl(231, 100%, 99%);
	}

	.PlanSummaryContainer{
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.PlanDetails{
			display: flex;
			flex-direction: column;
			h4{
			 	font-size: 15px;
			 	font-weight: 500;
			 	color: hsl(213, 96%, 18%);
			 	padding: 0;
			 }
		}
		 a{
			 	font-size: 13px;
			 	font-weight: 600;
				color: hsl(231, 11%, 63%);
			 	text-decoration: underline;
			 	cursor: pointer;
			 }
			  p{
			 	font-size: 14px;
			 	font-weight:300;
				color: hsl(213, 96%, 18%);
			 	}
	}
	.Label{
		display: flex;
		justify-content: space-between;

		h4{
			 	font-size: 15px;
			 	font-weight: 300;
				color: hsl(231, 11%, 63%);
			 	padding: 0;
			 }
			 p{
			 	font-size: 15px;
			 	font-weight: lighter;
			 	color: hsl(213deg 96% 18% / 81%);
			 }
	}
}