
	.label{
		width : 100%;
		height : 100%;
		position: relative;
		padding-bottom: 0;
	
		input{
			margin-top: 0;
			width: 100%;
			padding: 15px;
			border-radius: 5px;
			border:2px solid #dedede;
			outline: none;
			font-size: 15px;
			text-align: center;
			z-index: 1;
			position: relative;
			-webkit-transition: border .2s ease-in-out;
			   -moz-transition: border .2s ease-in-out;
			    -ms-transition: border .2s ease-in-out;
			     -o-transition: border .2s ease-in-out;
			        transition: border .2s ease-in-out;


			&:hover{
				border:2px solid rgb(0 0 0 / 35%);
			}

			&:focus{
				border: 3px solid rgb(224 14 2);
			}
		}

		div{
			width :fit-content;
			height : fit-content;
			position : absolute;
			background: white;
			font-size: 18px;
			color: rgb(172 167 167);
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
		    -ms-transition: all .2s ease-in-out;
		     -o-transition: all .2s ease-in-out;
		        transition: all .2s ease-in-out;


		}
	}