.ButtonContainer{
	display: flex;
	width: 90%;
	margin-top: 25px;
	background: #fff;
	align-items: center;

	
	.GOBackButton{
		border-bottom: 1px solid #000;
		color: #000;
		font-weight: bolder;
		transition: all 0.4s ease;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		&:hover{
			color: skyblue;
			border-bottom:1px solid skyblue;
		}
	}

	.Next_Button{
		width: 100px;
		padding: 10px 13px;
		border: none;
		border-radius: 8px;
		font-weight: bolder;
		font-size: 12px;
		color: #fff;
		cursor: pointer;
	}
}